:root {
  --fonte: 'Montserrat', sans-serif;
  --fundo: #EBF4F6;
  --azul-escuro: #071952;
  --azul-claro: #37B7C3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte);
  background-color: var(--fundo);
}